// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,800;1,800&display=swap');
// Variables
@import 'variables';
@import 'partials_admin/admin';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'partials_admin/home';
@import 'partials_admin/index';
@import 'partials_admin/show';
@import 'partials_admin/edit';
@import 'partials_admin/create';
html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    .navbar {
        background-color: $bg_orange !important;
        .user_avatar {
            width: 45px;
            border-radius: 50%;
        }
        .nav-logo {
            @media screen and (max-width: 768px) {
                display: none !important;
            }
        }
    }
}

main {
    background-color: $bg_light;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}