.container{
    color: $text_primary;

    .resturant-img{
        height: 400px;
        width: 100%;
        object-fit: cover;
    }

    .analythics{
        @media screen and (max-width: 400px) {
            margin-top: 2rem;
        }
    }

}


