/* Titoli */
h6 {
    font-weight: 700;
}

.card_admin {
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.card-header {
    background-color: #313A46 !important;
    padding: 0;
}


.container {
    .plate_details {
        .row {
            .col-6 {
                .cover_image {
                    img {
                        height: 350px;
                        object-fit: cover;
                        border-radius: 5px;
                        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
                    }
                }
            }
            .col {
                .card_admin {
                    min-height: 200px;
                    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
                    .card-header {
                        background-color: #313A46 !important;
                    }
                    h6 {
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}
